# Pythonでミンサー方程式を推定してみた
## ミンサー方程式とは
修学年数を1年伸ばすことによる所得の増加率は、**教育の収益率**とよばれているらしく、この**教育の収益率**を計測する際に使う重回帰モデルのことをさします。

```math
ln(賃金) = β_0 + β_1(修学年数) + β_2(就業可能年数) + β_3(就業可能年数)^2 + U
```

In [7]:
# 必要なライブラリのimport
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np

In [8]:
# 分析に利用するデータの読み込み
mincer = pd.read_csv('6_1_income.csv')
mincer.head()

   exper  exper2  yeduc  income   lincome
0      7      49      9   100.0  4.605170
1      8      64      9   150.0  5.010635
2      8      64      9   150.0  5.010635
3     10     100      9   200.0  5.298317
4     10     100      9   300.0  5.703783

In [9]:
mincer.describe()

             exper       exper2        yeduc       income      lincome
count  4299.000000  4299.000000  4299.000000  4299.000000  4299.000000
mean     11.816469   179.015352    13.859967   264.824669     5.290452
std       6.276590   149.874866     1.876212   179.911242     0.895883
min       0.000000     0.000000     9.000000     6.250000     1.832582
25%       7.000000    49.000000    12.000000   150.000000     5.010635
50%      12.000000   144.000000    13.000000   250.000000     5.521461
75%      17.000000   289.000000    16.000000   350.000000     5.857933
max      26.000000   676.000000    18.000000  2250.000000     7.718686

In [10]:
formula = 'lincome ~ yeduc + exper + exper2' # 方程式をformulaに格納
results = smf.ols(formula, mincer).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                lincome   R-squared:                       0.207
Model:                            OLS   Adj. R-squared:                  0.206
Method:                 Least Squares   F-statistic:                     372.8
Date:                Fri, 20 Apr 2018   Prob (F-statistic):          3.41e-215
Time:                        07:58:36   Log-Likelihood:                -5129.4
No. Observations:                4299   AIC:                         1.027e+04
Df Residuals:                    4295   BIC:                         1.029e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.4855      0.111     22.436      0.000       2.268       2.703
yeduc          0.1175      0.007     16.649      0.000       0.104       0.131
exper          0.1962      0.007     26.179      0.000       0.181       0.211
exper2        -0.0064      0.000    -20.181      0.000      -0.007      -0.006
==============================================================================
Omnibus:                     1489.749   Durbin-Watson:                   1.028
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5682.257
Skew:                          -1.698   Prob(JB):                         0.00
Kurtosis:                       7.493   Cond. No.                     2.13e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.13e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

## 結果
yeducのcoefが0.1175となっているので、教育の収益率が11.8%になっていることがわかりました。